.cat-info {
   
    align-items: center;
    gap: 20px;
  }
  
  .cat-info img {
    max-width: 600px;
    
  }
  
  .cat-info h2,
  .cat-info p {
    margin: 15px;
  }
  
  .loader,
  .error {
    display: none;
  }
  
  .is-hidden {
    display: none;
  }